.fl-result-came-sec-wrp {
    position: relative;
    padding-bottom: 30px;
    padding-top: 85px;
}
.top-wave-img {
    position: absolute;
    left: 0;
    right: 0;
    top: -1px;
    z-index: 1;
    height: 30px;
    background-size: cover !important;
    background-repeat: no-repeat!important;
    background-position: center center !important;
}
.btm-wave-img {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
    z-index: 1;
    height: 30px;
    background-size: cover !important;
    background-repeat: no-repeat!important;
    background-position: center center !important;
}
.fl-result-came-img-tp{
	margin-top: -30px;
}
.fl-result-came-head h2{
	margin: 0;
	color: #fff;
	font-family: 'Vollkorn-Bold';
	position: relative;
	margin-bottom: 10px;
}
.fl-result-came-dsc-tp {
    color: #fff;
    padding-top: 50px;
    padding-right: 40px;
}
.fl-result-came-dsc-btm {
    color: #fff;
    padding-right: 35px;
}
.fl-result-came-img-btm{
	margin-left: -90px;
}
.fl-steps-wrong-sec-wrp .fl-credit-fixed-head h2 {
    font-family: 'Vollkorn-Bold';
    margin-bottom: 30px;
}
.fl-steps-wrong-btm-sec-wrp,
.fl-steps-wrong-sec-wrp{
	padding-top: 40px;
	padding-bottom: 30px;
}
.fl-steps-wrong-btm-sec-wrp .fl-steps-wrong-dsc-tp {
    padding-right: 30px;
}
.fl-steps-wrong-img-tp {
    margin-top: -35px;
}
.fl-steps-wrong-dsc-btm {
    padding-right: 45px;
}
.fl-steps-wrong-dsc-tp {
    padding-right: 5px;
}




.fl-success-rate-sec-wrp{
	padding-top: 100px;
	padding-bottom: 50px;
	position: relative;
	background-repeat: no-repeat !important;
	background-position: center top !important;
	background-size: cover !important;
}
.fl-success-rate-dsc {
    color: #fff;
    padding-right: 30px;
}
.fl-success-rate-sec-wrp .fl-result-came-head{
	padding-bottom: 50px;
}

.fl-confusion-sec-wrp{
	padding-top: 50px;
	padding-bottom: 50px;
}
.fl-confusion-bdr{
	border: 4px solid #000;
	padding: 35px 40px 10px;
}
.fl-confusion-head h2{
	margin: 0;
	font-family: 'Vollkorn-Bold';
}
.fl-confusion-sec-wrp .fl-confusion-head{
	padding-bottom: 25px;
}
.fl-confusion-head h2 span{
	color: #135d9d;
}
.fl-confusion-img-1{
	margin-right: -135px;
}
.fl-confusion-img-2{
	margin-left: -135px;
}
.fl-confusion-dsc {
    padding-right: 20px;
}

.fl-paid-sec-wrp{
	padding-top: 100px;
	padding-bottom: 50px;
	background-repeat: no-repeat !important;
	background-size: cover !important;
	background-position: center center !important;
	position: relative;
}
.fl-paid-dsc {
    color: #fff;
    padding-top: 25px;
    padding-right: 85px;
}
.fl-credit-cart-sec-wrp {
    padding-top: 15px;
    padding-bottom: 25px;
}
.fl-credit-cart-dsc{
	padding-right: 25px;
}
.fl-coffee-invest-sec-wrp .fl-steps-wrong-img-tp {
    margin-top: -5px;
}
.fl-steps-wrong-img-middle{
	margin-top: -10px;
}
.fl-add-to-cart-bg{
	padding: 20px 80px 30px 0;
	margin-left: -15px;
	margin-right: -15px;
}
.fl-add-to-cart-dsc-tp {
    color: #fff;
    padding-left: 45px;
    margin-right: -20px;
    padding-top: 20px;
}
.fl-credit-cart-dsc-btm{
	padding-right: 10px;
}
.fl-creditcard-btn{
	padding-bottom: 15px;
}
.fl-coffee-invest-sec-wrp .fl-credit-fixed-head h2 {
    margin-bottom: 25px;
}
.fl-creditcard-btn a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	font-family: 'Barlow-ExtraBold';
	font-size: 36px;
	line-height: 38px;
	color: #000;
	padding: 20px 38px;
	background-size: cover !important;
	background-position: center center !important;
	background-repeat: no-repeat !important;
	border-radius: 5px;
	margin-bottom: 15px;
	text-transform: uppercase;
}
.fl-creditcard-btn a:hover{
    opacity: .5;
}
.fl-creditcard-btn span{
	display:block;
}
.fl-add-to-cart-img-1{
	padding-left: 10px;
}
.fl-add-to-cart-dsc-btm {
    color: #fff;
    padding-left: 20px;
    padding-right: 15px;
}
.fl-coffee-invest-sec-wrp{
	padding-top: 40px;
}
.fl-coffee-invest-sec-wrp .fl-creditcard-btn{
	padding-top: 25px;
}
.fl-dft-angle-sec-3{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.prd-bt-5{
    padding-bottom: 5px !important;
}
.fl-add-to-cart-img{
    margin-left: -20px;
}





.fl-footer-wrap {
    color: #c3ced7;
    text-align: center;
    padding: 70px 0 75px;
    font-size: 14px;
    line-height: 19px;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: cover !important;
}
.fl-footer-wrap p{
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 0;
    font-family: 'OpenSansLight';
}
.fl-ftr-nav ul{
    padding-bottom: 20px;
}
.fl-ftr-nav ul li,
.fl-ftr-nav ul li a{
    display: inline-block;
    vertical-align: baseline;
    font-family: 'PTSerifBold';
}
.fl-ftr-nav ul li{
    font-size: 18px;
    line-height: 20px;
}
.fl-ftr-nav ul li:first-child{
    padding-left: 0;
}
.fl-ftr-nav ul li:last-child{
    padding-right: 0;
}
.fl-ftr-nav ul li a{
    color: inherit;
}
.fl-ftr-nav ul li a:hover,.fl-ftr-top-sec ul li a:hover{
    opacity: .7;
}
.fl-pkg-grd-ftr{
    padding-left: 10px;
    padding-right: 10px;
    display: table;
    margin: 0 auto;
    padding-top: 20px;
}
.fl-add-to-cart-btn-img{
    margin-bottom: 15px;
}

.fl-add-to-cart-btn-img a{
    display: inline-block;
    vertical-align: baseline;
}
.fl-pkg-grd-ftr ul li{
    position: relative;
    padding: 3px 0 15px 40px;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    font-family: 'Barlow-Medium';
}
.fl-pkg-grd-ftr ul li em{
    position: absolute;
    left: 0;
    top: 0;
}
.fl-copyright{
    padding-bottom: 30px;
}
.fl-ftr-nav ul li{
    padding: 0 10px;
    position: relative;
}
.fl-ftr-nav ul li:not(:last-child):after{
    content: "";
    width: 1px;
    height: 14px;
    position: absolute;
    left: 100%;
    margin-left: -1px;
    background: #fff;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.fl-ftr-des{
    color: #c3ced7;
    padding: 0 10px;
}

span.fl-txt-line-bg {
    font-family: 'LatoBold';
    display: inline-block;
    vertical-align: baseline;
    background-repeat: no-repeat!important;
    background-position: center center!important;
    background-size: 100% 100%!important;
    margin-right: -15px;
    margin-left: -15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    color: #000;
}
.fl-dft-angle-sec-3 .fl-dft-angle-block {
    border: 4px solid #000 !important;
}
.fl-confusion-dsc-tp {
    position: relative;
    padding-right: 20px;
}
.fl-confusion-dsc-btm {
    padding-right: 10px;
}
.fl-confusion-dsc-bg {
    position: absolute;
    left: -15px;
    right: 0;
    top: 55px;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center center !important;
}
.fl-coffee-invest-sec-wrp .fl-steps-wrong-dsc-tp {
    padding-right: 30px;
}
.fl-steps-wrong-dsc-btm-lft{
    padding-right: 40px;
}

.fl-dft-angle-sec.fl-dft-angle-sec-3 .fl-dft-angle-des {
    max-width: 860px;
}
.fl-dft-angle-sec.fl-dft-angle-sec-3 .fl-dft-angle-des-pera {
    padding-right: 261px;
}




@media(max-width: 1399px){
    .fl-result-came-img-btm {
        margin-left: 0;
    }
    .fl-confusion-img-1 {
        margin-right: 0;
    }
    .fl-confusion-img-2 {
        margin-left: 0;
    }
}
@media(max-width: 1199px){ 
    .fl-result-came-img-tp {
        margin-top: 0;
        padding-top: 30px;
        text-align: center;
    }
    .fl-result-came-dsc-tp {
        padding-right: 0;
    }
    .fl-result-came-img-btm{
        text-align: center;
    }
    .fl-steps-wrong-img-tp {
        margin-top: 0;
        text-align: center;
        padding-bottom: 30px;
    }
    .fl-steps-wrong-img-btm{
        text-align: center;
    }
    .fl-steps-wrong-img-btm {
        text-align: center;
        padding-bottom: 20px;
    }
    .fl-steps-wrong-dsc-tp span.fl-txt-line-bg{
        background-position: auto !important;
    }
    .fl-steps-wrong-img {
        text-align: center;
        padding-bottom: 30px;
    }
    .fl-success-rate-img{
        text-align: center;
        padding-bottom: 30px;
    }
    .fl-success-rate-dsc {
        padding-right: 0;
    }
    .fl-success-rate-sec-wrp {
        padding-top: 60px;
        padding-bottom: 30px;
    }
    .fl-confusion-img-1 {
        margin-right: 0;
        padding-bottom: 30px;
        text-align: center;
    }
    .fl-confusion-head h2 br{
        display: none;
    }
    .fl-steps-wrong-dsc-btm {
        padding-right: 0;
    }
    .fl-steps-wrong-dsc-tp {
        padding-right: 0;
    }
    .fl-result-came-dsc-btm {
        padding-right: 0;
    }
    .fl-confusion-dsc-bg {
        left: 0;
        right: 0;
        top: 55px;
        max-width: 400px;
        width: 100%;
    }
    .fl-paid-dsc {
        padding-right: 0;
    }
    .fl-paid-sec-wrp {
        padding-top: 70px;
        padding-bottom: 40px;
    }
    .fl-credit-cart-img-1{
        text-align: center;
        padding-top: 20px;
        padding-bottom: 30px;
    }
    .fl-credit-cart-dsc-btm p br{
        display: none;
    }
    .fl-credit-cart-dsc {
        padding-right: 0;
    }
    .fl-add-to-cart-bg {
        padding: 20px 0 30px;
        margin-left: 0;
        margin-right: 0;
    }
    .fl-add-to-cart-img{
        text-align: center;
    }
    .fl-add-to-cart-img-1{
        text-align: center;
        padding-bottom: 30px;
        padding-right: 10px;
    }
    .fl-add-to-cart-dsc-tp {
        padding-left: 0;
        margin-right: 0;
        padding-bottom: 30px;
        padding-right: 0;
    }
    .fl-steps-wrong-img-middle{
        text-align: center;
    }
    .fl-steps-wrong-img-middle {
        text-align: center;
        padding-top: 20px;
        padding-bottom: 30px;
        margin: 0;
    }
    .fl-result-came-sec-wrp {
        padding-top: 60px;
    }
    .fl-add-to-cart-dsc-btm {
        padding-right: 0;
        padding-left: 0;
    }
    .fl-add-to-cart-bg {
        padding: 20px 15px 30px 15px;
    }
    .fl-add-to-cart-img{
        margin-left: 0;
    }
    .fl-footer-wrap p br{
        display: none;
    }
    .fl-steps-wrong-btm-sec-wrp .fl-steps-wrong-dsc-tp {
        padding-right: 0;
    }
    .fl-confusion-dsc-btm {
        padding-right: 0;
    }
    .fl-add-to-cart-dsc-btm{
        padding-right: 0;
    }
    .fl-coffee-invest-sec-wrp .fl-steps-wrong-dsc-tp {
        padding-right: 0;
    }
    .fl-steps-wrong-dsc-btm-lft{
        padding-right: 0;
    }
    .fl-coffee-invest-sec-wrp .pull-right,
    .fl-add-to-cart-sec-wrp .pull-right,
    .fl-credit-cart-sec-wrp .pull-right,
    .fl-confusion-sec-wrp .pull-right,
    .fl-success-rate-sec-wrp .pull-right,
    .fl-steps-wrong-btm-sec-wrp .pull-right,
    .fl-steps-wrong-sec-wrp .pull-right,
    .fl-result-came-sec-wrp .pull-right{
        float: none !important;
    }
    .fl-result-came-head h2 br{
        display: none;
    }



}


@media(max-width: 991px){
    .fl-dft-angle-sec.fl-dft-angle-sec-3 .fl-dft-angle-des-pera {
        padding-right: 0;
    }


}


@media(max-width: 767px){
    .fl-confusion-bdr {
        padding: 35px 20px 10px;
    }
    .fl-footer-wrap {
        padding: 50px 0 60px;
        font-size: 15px;
        line-height: 22px;
    }
}



@media(max-width: 639px){

}



@media(max-width: 575px){
    .fl-creditcard-btn a {
        font-size: 30px;
        line-height: 34px;
        padding: 15px 25px;
    }
}


@media(max-width: 479px){
    .fl-creditcard-btn a {
        font-size: 28px;
        line-height: 30px;
        padding: 15px 18px;
    }
    .fl-ftr-nav ul li {
        font-size: 16px;
        line-height: 20px;
        padding: 0 8px;
    }

}



@media(max-width: 359px){

}