@font-face {
  font-family: 'Vollkorn-Bold';
  src: url('assets/fonts/Vollkorn-Bold/Vollkorn-Bold.woff2') format('woff2'),
    url('assets/fonts/Vollkorn-Bold/Vollkorn-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
  
@font-face {
  font-family: 'Vollkorn-Semibold';
  src: url('assets/fonts/Vollkorn-Semibold/Vollkorn-Semibold.woff2') format('woff2'),
    url('assets/fonts/Vollkorn-Semibold/Vollkorn-Semibold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} 

@font-face {
  font-family: 'Vollkorn-SemiboldItalic';
  src: url('assets/fonts/Vollkorn-SemiboldItalic/Vollkorn-SemiboldItalic.woff2') format('woff2'),
    url('assets/fonts/Vollkorn-SemiboldItalic/Vollkorn-SemiboldItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Vollkorn-BoldItalic';
  src: url('assets/fonts/Vollkorn-BoldItalic/Vollkorn-BoldItalic.woff2') format('woff2'),
    url('assets/fonts/Vollkorn-BoldItalic/Vollkorn-BoldItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow-ExtraBold';
  src: url('assets/fonts/Barlow-ExtraBold/barlow-extrabold-webfont.woff2') format('woff2'),
    url('assets/fonts/Barlow-ExtraBold/barlow-extrabold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PTSerifBold';
  src: url('assets/fonts/PTSerifBold/PTSerifBold.woff2') format('woff2'),
    url('assets/fonts/PTSerifBold/PTSerifBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'OpenSansLight';
  src: url('assets/fonts/OpenSansLight/OpenSansLight.woff2') format('woff2'),
    url('assets/fonts/OpenSansLight/OpenSansLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LatoRegular';
  src: url('assets/fonts/LatoRegular/LatoRegular.woff2') format('woff2'),
    url('assets/fonts/LatoRegular/LatoRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LatoLightItalic';
  src: url('assets/fonts/LatoLightItalic/LatoLightItalic.woff2') format('woff2'),
    url('assets/fonts/LatoLightItalic/LatoLightItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LatoLight';
  src: url('assets/fonts/LatoLight/LatoLight.woff2') format('woff2'),
    url('assets/fonts/LatoLight/LatoLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'LatoBold';
  src: url('assets/fonts/LatoBold/LatoBold.woff2') format('woff2'),
    url('assets/fonts/LatoBold/LatoBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LatoSemibold';
  src: url('assets/fonts/LatoSemibold/LatoSemibold.woff2') format('woff2'),
    url('assets/fonts/LatoSemibold/LatoSemibold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'LatoSemiBoldItalic';
  src: url('assets/fonts/LatoSemiBoldItalic/LatoSemiBoldItalic.woff2') format('woff2'),
    url('assets/fonts/LatoSemiBoldItalic/LatoSemiBoldItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}






*,*:focus,.btn,.btn:focus {
  outline: 0!important;
  text-decoration: none
}
a,button,input {
  outline: 0;
  border: 0;
  -ms-transition: all .3s ease;
  -webkit-transition: all .3s ease;
  transition: all .3s ease
}
a,a:hover,a:focus,button:hover,button:focus {
  text-decoration: none;
  outline: 0;
}
body {
  background-color: #fff;
  color: #000;
  font-size: 25px;
  line-height: 1.2;
  font-family: 'LatoLight';
  background: url(assets/images/body-bg.jpg);
}
img {
  max-width: 100%;
  height: auto;
}
.ulc {
  margin: 0;
  padding: 0;
  list-style: none;
}
.overlay-link {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}



.container-lg:before,
.container-lg:after,{
  content: "";
  display: table;
  clear: both;
}
.container-lg {
  max-width: 1470px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.container {
  max-width: 1210px;
  width: 100%;
}
.part-two-ctlr .container{
  max-width: 1180px;
  width: 100%;
}
.part-two-ctlr{
  padding-top: 40px;
}
.hide-md {
  display: block!important
}
.show-md {
  display: none!important
}

.hide-sm {
  display: block!important
}
.show-sm {
  display: none!important
}
.hide-xs {
  display: block!important
}
.show-xs {
  display: none!important
}
p { margin: 0; margin-bottom: 30px; }
a { word-wrap: break-word } 
strong { font-weight:normal }
.plr-30 {
  padding-left: 30px!important;
  padding-right: 30px!important
}
.plr-20 {
  padding-left: 20px!important;
  padding-right: 20px!important
}
.plr-10 {
  padding-left: 10px!important;
  padding-right: 10px!important
}
.plr-15 {
  padding-left: 15px!important;
  padding-right: 15px!important
}
.plr-5{
  padding-left: 5px!important;
  padding-right: 5px!important
}
.pl-15{
  padding-left: 15px!important;
}
.pr-15{
  padding-right: 15px!important;
}
.pl-10{
  padding-left: 10px!important;
}
.pr-10{
  padding-right: 10px!important;
}
.pl-5{
  padding-left: 5px!important;
}
.pr-5{
  padding-right: 5px!important;
}

.left-15{
  margin-left: -15px !important;
}
.right-15{
  margin-right: -15px !important;
}
.pt-20{
  padding-top: 20px!important;
}

h1 {
  font-size: 60px;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 34px;
}
h4 {
  font-size: 26px;
}

.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
  line-height: 1.2;
} 


header.fl-hdr{ 
    background: #fff;
    -ms-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -ms-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .16);
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .16);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .16);
    position: relative;
    z-index: 5
}
.header-innr {
    background: #fff;
    padding: 10px 0; 
}  
.hdr-left, 
.hdr-rgt {
    width: 50%;
    float: left
}
.hdr-left {
    padding-right: 30px
}
.hdr-rgt {
    text-align: right
}
.hdr-logo{
    display: inline-block;
    vertical-align: baseline;
    max-width: 252px;
}
.secure-img{
    display: inline-block;
    vertical-align: baseline;
    max-width: 223px;
}
.fl-hdr img{
    width: 100%
}
.fl-shipping-progress-bar{
    background: #fff;
}

.fl-shipping {
    padding-bottom: 28px;
    box-sizing: border-box;
    position: relative;
    max-width: 1110px;
    margin: 0 auto;
}
.fl-shipping > i{
    position: absolute;
    display: block;
    height: 15px;
    width: 100%;
    left: 0;
    right: 0;
    top: 45px;
    z-index: 1;
}
.fl-shipping > i > img{
   width: 100%;
   height: 15px;
   border-radius: 15px;
}

.fl-shipping-col img {
    display: inline-block;
    position: relative;
    top: 36px;
    width: 57px;
    height: 57px
}
.fl-shipping-col.two_sec img {
    top: 28px;
    width: 71px;
    height: 71px
}
.fl-shipping-col {
    width: 33.333%;
    float: left;
    padding-left: 7px;
    padding-right: 7px;
    position: relative;
    z-index: 2;
}
.fl-shipping h4 {
    color: #000;
    font-family: 'LatoSemibold';
    text-transform: uppercase;
    font-size: 24px;
    margin-top: 45px;
    width: 100%
}
.fl-shipping .two_sec > h4 {
    font-family: 'LatoBold';
    margin-top: 32px;
}
.fl-special-offer-sec{
    position: relative;
    z-index: 1
}
.fl-special-offer-bg{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    background-position: center bottom!important;
    z-index: 2
}
.special-offer-dsc{
    position: relative;
    z-index: 3;
    padding: 90px 350px 130px 0;
}
.special-offer-dsc h1 {
    font-family: 'Vollkorn-Bold';
    margin-bottom:14px;
    text-shadow: 1px 3px 8px #000;
    line-height: 70px;
    color:#fff;
}
.special-offer-dsc h3 {
  font-family: 'LatoSemiBoldItalic';
    margin-bottom: 10px;
    color: #fcff27;
}
.fl-reading-sec{
  padding: 25px 0 60px;
}
.fl-reading-two-part-wrp{
  padding-left: 15px;
  padding-right: 15px;
}
.fl-reading-two-part-wrp .fl-reading-img{
  width: 50%;
  float: left
}
.fl-reading-two-part-wrp .fl-reading-des{
  width: 50%;
  float: left;
  padding-left: 30px;
  padding-top: 8px;
}
.fl-reading-two-part-wrp li:nth-child(2n+1) .fl-reading-img{
  float: right
}
.fl-reading-two-part-wrp li:nth-child(2n+1) .fl-reading-des{
  padding-right: 30px;
  padding-left: 0;
  padding-top: 53px;
}
.fl-reading-two-part-wrp li:not(:last-child){
  margin-bottom: 23px;
}
.fl-credit-fixed-sec {
    padding: 45px 0 30px;
}
.fl-credit-fixed-head{
  position: relative;
  padding-bottom: 35px;
}
.fl-credit-fixed-head h2{
  font-family: 'Vollkorn-Bold';
}
.fl-credit-fixed-head h2 span{
  color:#135d9d;
}
.fl-credit-fixed-head img{
  position: absolute;
  bottom:25px;
  left: 50%;
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.fl-credit-fixed-img{
  width: 49%;
}
.fl-credit-fixed-des{
  width: 51%;
  padding: 0 155px 20px 30px;
}
.fl-credit-fixed-des p:last-child{
  margin-bottom: 0;
}
.fl-personal-benefit-innr {
  background: #fff;
  padding-bottom: 30px;
  -webkit-box-shadow: 0 5px 14px -8px rgb(180, 179, 179);
  -moz-box-shadow: 0 5px 14px -8px rgb(180, 179, 179);
  box-shadow: 0 5px 14px -8px rgb(180, 179, 179);
  border-top: 1px solid #b0c4d5;
}

.fl-personal-benefit-head{
    padding: 38px 10px 75px;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center bottom !important;
    margin-bottom: 35px;
    position: relative;
    border-top: 1px solid #b0c4d5;
}
.fl-personal-benefit-head h2{
    color: #fff;
    font-family: 'Vollkorn-Bold';
    margin-bottom: 0;
}
.fl-personal-benefit-two-part{
  padding-left: 45px;
  padding-right: 15px;
}
.fl-personal-benefit-two-part .fl-personal-benefit-img{
  width: 47.5%;
  float: left;
}
.fl-personal-benefit-two-part .fl-personal-benefit-des{
  width: 52.5%;
  float: left;
  padding-left: 30px;
  padding-right: 44px;
  padding-top: 12px;
}
.fl-personal-benefit-two-part li:nth-child(2n+1) .fl-personal-benefit-img{
  width: 50.5%;
  float: right;
}
.fl-personal-benefit-two-part li:nth-child(2n+1) .fl-personal-benefit-des{
  width: 49.5%;
  padding-right: 30px;
  padding-left: 0;
}
.fl-personal-benefit-two-part{}
.fl-personal-benefit-two-part .fl-personal-benefit-des p:last-child{
  margin-bottom: 0;
}

.fl-credit-score-sec{
  padding: 45px 0 35px;
}
.fl-credit-score-innr{
  max-width: 1315px;
  margin: 0 auto;
}

.fl-credit-score-head{
  position: relative;
  padding-bottom: 50px;
}
.fl-credit-score-head h2{
  font-family: 'Vollkorn-Bold';
}
.fl-credit-score-head h2 span{
  color:#135d9d;
  display: block;
}
.fl-credit-score-head img{
  position: absolute;
  bottom:28px;
  left: 50%;
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.fl-credit-score-two-part{
  padding-left: 70px;
}
.fl-credit-score-img{
  width: 51.76%;
  padding-top: 17px;
}
.fl-credit-score-img img{
  max-width: 636px;
  width: 100%;
}
.fl-credit-score-des{
  width: 48.24%;
  padding-left: 15px;
  padding-right: 22px;
}
.fl-credit-score-des p:last-child{
  margin-bottom: 0;
}
.fl-automator-list-sec{
    background-repeat: no-repeat!important;
    background-size: cover!important;
    background-position: center center!important;
    padding: 45px 0 65px;
    position: relative;
    margin-top: 50px;
}

.automator-list-top-wave {
    position: absolute;
    left: 0;
    right: 0;
    top: -48px;
    z-index: 1;
    height: 50px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center top !important;
}
.automator-list-btm-wave {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
    z-index: 1;
    height: 50px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center bottom !important;
}

.fl-automator-list-sec{
  color: #fff;
}
.fl-automator-list-head{
  position: relative;
  padding-bottom: 72px;
}
.fl-automator-list-head h2{
  font-family: 'Vollkorn-Bold';
}
.fl-automator-list-head h2 span{
  color:#135d9d;
}
.fl-automator-list-head img{
  position: absolute;
  bottom:45px;
  left: 50%;
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.fl-automator-list-innr{
  padding-left: 15px;
  padding-right: 15px;
}
.fl-automator-list-innr ul {
    padding-bottom: 40px;
}
.fl-automator-list-innr li {
    font-family: 'LatoRegular';
    position: relative;
    padding-left: 58px;
    padding-top: 5px;
    margin-bottom: 20px;
}
.fl-automator-list-innr li img{
  position: absolute;
  left: 0;
  top: 1px;
  max-width: 34px;
  width: 100%;
}
.fl-automator-you-sec{
  position: relative;
  padding-bottom: 50px;
}
.fl-automator-you-innr{
  padding-left: 15px;
  padding-right: 15px;
}
.fl-automator-you-head-innr{
  display: inline-block;
  max-width: 485px;
  width: 100%;
  padding: 25px 10px;
  margin-bottom: 45px;
    background-repeat: no-repeat!important;
    background-size: 100% 100%!important;
    background-position: center bottom!important;
}
.fl-automator-you-head-innr h1{
  font-family: 'Vollkorn-Bold';
  color: #fff;
  margin-bottom: 0;
}
.fl-automator-you-img {
    width: 49%;
    float: left;
    padding-top: 10px;
}
.fl-automator-you-two-part li:nth-child(3) .fl-automator-you-img{
  padding-top: 22px;
}
.fl-automator-you-des{
  width: 51%;
  float: left;
  padding-left: 26px;
}
.fl-automator-you-des p:last-child{
  margin-bottom: 0;
}
.fl-automator-you-des p span{
  font-family: 'LatoLightItalic';
}
.fl-automator-you-two-part li:nth-child(2n+2) .fl-automator-you-img{
  float: right;
}
.fl-automator-you-two-part li:nth-child(2n+2) .fl-automator-you-des{
  padding-right: 26px;
  padding-left: 0;
}
.fl-automator-you-two-part li{
  margin-bottom: 10px;
}
.fl-smart-money-sec{
  padding-bottom: 50px;
}
.fl-smart-money-innr{ 
  background: #fff;
  padding-bottom: 45px;
  -webkit-box-shadow: 0 5px 14px -8px rgb(180, 179, 179);
  -moz-box-shadow: 0 5px 14px -8px rgb(180, 179, 179);
  box-shadow: 0 5px 14px -8px rgb(180, 179, 179);
  border-top: 1px solid #b0c4d5;
}
.fl-smart-money-img{
  width: 48.85%;
}
.fl-smart-money-des{
  width: 51.15%;
  padding-left: 40px;
  padding-right: 30px;
}
.fl-smart-money-head {
    padding: 38px 10px 75px;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center bottom !important;
    margin-bottom: 35px;
    position: relative;
    border-top: 1px solid #b0c4d5;
}
.fl-smart-money-head h2 {
    color: #fff;
    font-family: 'Vollkorn-Bold';
    margin-bottom: 0;
}
.smart-money-oftion {
    position: relative;
    max-width: 930px;
    margin: 0 auto;
    padding: 30px 20px 60px;
}
.smart-money-oftion ul{
  padding-left: 20px;
  position: relative;
  z-index: 3;
}
.smart-money-oftion ul:after{
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 29px;
  width: 40px;
  background: #135d9d;
  z-index: 1;
}
.smart-money-oftion li{
  font-family: 'LatoRegular';
  font-size: 30px;
  position: relative;
  max-width: 890px;
  margin: 0 auto;
  margin-bottom: 65px;
}
.smart-money-oftion li:last-child{
  margin-bottom: 0px;
}

.smart-money-oftion li span {
    font-family: 'LatoBold';
    font-size: 30px;
    line-height: 65px;
    text-align: center;
    display: block;
    width: 98px;
    height: 98px;
    background: #fff;
  border: 15px solid #135d9d;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: -20px;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 4;
}
.smart-money-oftion li strong{
  display: block;
  vertical-align: baseline;
  font-weight: normal;
  color: #4a4a4a;
  padding: 20px 20px 20px 90px;
  background: #fff;
  border-radius: 45px;
  -webkit-box-shadow: 0px 0px 14px -6px rgb(180, 179, 179);
  -moz-box-shadow: 0px 0px 14px -6px rgb(180, 179, 179);
  box-shadow: 0px 0px 14px -6px rgb(180, 179, 179);

}
.smart-money-oftion li a:hover{
  color: #135d9d;
}

.smart-money-oftion > img{
  position: absolute;
  top: -30px;
  left: 50%;
  z-index: 1;
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.smart-money-last-line{
  margin-left: 45px;
  margin-bottom: 0;
}
.fl-dft-angle-sec-innr {
    padding-left: 45px;
    padding-right: 45px;
}
.fl-dft-angle-block{
  position: relative;
  z-index: 1;
}
.fl-dft-angle-img {
    position: absolute;
    top: 0;
    right: -37px;
    bottom: 0;
    left: 27%;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center center !important;
}
.fl-dft-angle-des{
  max-width: 720px;
  position: relative;
  z-index: 3;
  color: #fff;
  padding: 36px 145px 40px 55px;
  background-repeat: no-repeat !important;
    background-size: 100% 100% !important;
    background-position: center center !important;
}
.fl-dft-angle-des p:last-child{
  margin-bottom: 0;
}
.fl-dft-angle-des-hdr{
  position: relative;
  padding-bottom: 35px;
}
.fl-dft-angle-des-hdr h2{
  font-family: 'Vollkorn-BoldItalic';
}
.fl-dft-angle-des-hdr h2 span{
  color:#135d9d;
  display: block;
}
.fl-dft-angle-des-hdr img{
  position: absolute;
  bottom:25px;
  left: 50%;
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.fl-dft-angle-img img{
  display: none
}
.angle-block-btm-line{
  position: relative;
}
.angle-block-btm-line:after{
  content: "";
  position: absolute;
  height: 4px;
  background: #d9dade;
  bottom: -4px;
  left: 4px;
  right: -4px;
}
.fl-dft-angle-des p br{
  display: block!important;
}
.fl-dft-angle-sec.fl-dft-angle-sec-2 {
    padding: 60px 0;
}
.fl-dft-angle-sec.fl-dft-angle-sec-2 .fl-dft-angle-sec-innr {
    padding-left: 0;
    padding-right: 0;
}
.fl-dft-angle-sec.fl-dft-angle-sec-2 .fl-dft-angle-des-hdr {
    text-align: center
}
.fl-dft-angle-sec.fl-dft-angle-sec-2 .fl-dft-angle-des {
    max-width: 840px;
    color: #000;
    padding: 36px 40px 40px;
}
.fl-dft-angle-sec.fl-dft-angle-sec-2 .fl-dft-angle-block{
  border: 4px solid #135d9d;
}
.fl-dft-angle-sec.fl-dft-angle-sec-2 .fl-dft-angle-des-pera {
    padding-right: 255px;
}
.fl-dft-angle-sec.fl-dft-angle-sec-2 .fl-dft-angle-des {
    max-width: 840px;
    color: #000;
    padding: 36px 40px 40px;
}
.fl-dft-angle-sec.fl-dft-angle-sec-2 .fl-dft-angle-img {
    right: -90px;
    left: 36%;
}


span.fl-txt-line-bg {
    font-family: 'LatoBold';
    display: inline-block;
    vertical-align: baseline;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: 100% 100% !important;
    margin-right: -15px;
    margin-left: -15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    color: #000;
}



.fl-result-came-sec-wrp {
    position: relative;
    padding-bottom: 10px;
    padding-top: 65px;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: cover !important;
}
.top-wave-img {
    position: absolute;
    left: 0;
    right: 0;
    top: -29px;
    z-index: 1;
    height: 30px;
    background-repeat: repeat-x!important;
    background-position: center center!important;
    background-size: cover;
}
.btm-wave-img {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -29px;
    z-index: 1;
    height: 30px;
    background-repeat: repeat-x!important;
    background-position: center center!important;
    background-size: cover;
}
.fl-result-came-img-tp{
  margin-top: -30px;
}
.fl-result-came-head h2{
  margin: 0;
  color: #fff;
  font-family: 'Vollkorn-Bold';
  position: relative;
  margin-bottom: 10px;
}
.fl-steps-wrong-dsc-tp-1 p:first-child{
    margin-bottom: -5px;
}
.fl-result-came-dsc-tp {
    color: #fff;
    padding-top: 50px;
    padding-right: 30px;
}
.fl-result-came-dsc-btm {
    color: #fff;
    padding-right: 20px;
}
.fl-result-came-img-btm{
  margin-left: -90px;
}
.fl-steps-wrong-sec-wrp .fl-credit-fixed-head h2 {
    font-family: 'Vollkorn-Bold';
    margin-bottom: 30px;
}
.fl-steps-wrong-btm-sec-wrp,
.fl-steps-wrong-sec-wrp {
    padding-top: 40px;
    padding-bottom: 55px;
}
.fl-steps-wrong-btm-sec-wrp .fl-steps-wrong-dsc-tp {
    padding-right: 20px;
}
.fl-steps-wrong-img-tp {
    margin-top: -35px;
}
.fl-steps-wrong-img-tp img{
    margin-right: -15px;
}
.fl-steps-wrong-dsc-btm {
    padding-right: 30px;
}
.fl-steps-wrong-dsc-tp {
    padding-right: 5px;
}
.fl-steps-wrong-dsc-tp p em{
    font-family: 'LatoLightItalic';
}




.fl-success-rate-sec-wrp{
  padding-top: 70px;
  padding-bottom: 50px;
  position: relative;
  background-repeat: no-repeat !important;
  background-position: top center!important;
  background-size: cover !important;
}
.fl-success-rate-dsc {
    color: #fff;
    padding-right: 30px;
}
.fl-success-rate-sec-wrp .fl-result-came-head{
  padding-bottom: 50px;
}

.fl-confusion-sec-wrp {
    padding-top: 75px;
    padding-bottom: 80px;
}
.fl-confusion-bdr{
  border: 4px solid #000;
  padding: 35px 40px 10px;
}
.fl-confusion-head h2{
  margin: 0;
  font-family: 'Vollkorn-Bold';
}
.fl-confusion-sec-wrp .fl-confusion-head{
  padding-bottom: 25px;
}
.fl-confusion-head h2 span{
  color: #135d9d;
    display: block;
}
.fl-confusion-img-1{
  margin-right: -135px;
}
.fl-confusion-img-2{
  margin-left: -135px;
}
.fl-confusion-dsc {
    padding-right: 20px;
}

.fl-paid-sec-wrp{
  padding-top: 60px;
  padding-bottom: 50px;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center center !important;
  position: relative;
}
.fl-paid-dsc {
    color: #fff;
    padding-top: 25px;
    padding-right: 85px;
}
.fl-credit-cart-sec-wrp {
    padding-top: 40px;
    padding-bottom: 25px;
}
.fl-credit-cart-dsc{
  padding-right: 25px;
}
.fl-coffee-invest-sec-wrp .fl-steps-wrong-img-tp {
    margin-top: -5px;
}
.fl-steps-wrong-img-middle{
  margin-top: -10px;
}
.fl-add-to-cart-bg{
  padding: 20px 80px 30px 0;
  margin-left: -15px;
  margin-right: -15px;
}
.fl-add-to-cart-dsc-tp {
    color: #fff;
    padding-left: 45px;
    margin-right: -20px;
    padding-top: 20px;
}
.fl-credit-cart-dsc-btm{
  padding-right: 10px;
    margin-right: -15px;
}
.fl-creditcard-btn{
  padding-bottom: 15px;
}

.fl-coffee-invest-sec-wrp .fl-credit-fixed-head h2 {
    margin-bottom: 25px;
}
.fl-creditcard-btn a {
    display: inline-block;
    vertical-align: baseline;
    text-decoration: none;
    font-family: 'Barlow-ExtraBold';
    font-size: 36px;
    line-height: 38px;
    color: #000;
    padding: 0 0 15px!important;
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    text-transform: uppercase;
}

.bdr-none a{
    border-bottom: none;
}
.fl-creditcard-btn a:hover{
    opacity: .9;
}
.fl-creditcard-btn span{
  display:block;
}
.fl-add-to-cart-img-1{
  padding-left: 10px;
}
.fl-add-to-cart-dsc-btm {
    color: #fff;
    padding-left: 20px;
    padding-right: 15px;
}
.fl-coffee-invest-sec-wrp{
  padding-top: 40px;
}
.fl-coffee-invest-sec-wrp .fl-creditcard-btn{
  padding-top: 25px;
}
.fl-dft-angle-sec-3{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.prd-bt-5 {
    padding-bottom: 5px !important;
    padding-top: 65px !important;
}
.fl-add-to-cart-img{
    margin-left: -20px;
}
.fl-dft-angle-sec-3 .fl-dft-angle-des-hdr h2{
    font-family: 'Vollkorn-Bold';
}
.fl-steps-wrong-img-btm{
    margin-top: -15px;
}
.fl-confusion-dsc-btm .fl-confusion-dsc-bg{
    left: 0;
}





.fl-footer-wrap {
    color: #c3ced7;
    text-align: center;
    padding: 70px 0 75px;
    font-size: 14px;
    line-height: 19px;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: cover !important;
}
.fl-footer-wrap p{
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 0;
    font-family: 'OpenSansLight';
}
.fl-ftr-nav ul{
    padding-bottom: 20px;
}
.fl-ftr-nav ul li,
.fl-ftr-nav ul li a{
    display: inline-block;
    vertical-align: baseline;
    font-family: 'PTSerifBold';
}
.fl-ftr-nav ul li{
    font-size: 18px;
    line-height: 20px;
}
.fl-ftr-nav ul li:first-child{
    padding-left: 0;
}
.fl-ftr-nav ul li:last-child{
    padding-right: 0;
}
.fl-ftr-nav ul li a{
    color: inherit;
}
.fl-ftr-nav ul li a:hover,.fl-ftr-top-sec ul li a:hover{
    opacity: .7;
}
.fl-pkg-grd-ftr{
    padding-left: 10px;
    padding-right: 10px;
    display: table;
    margin: 0 auto;
    padding-top: 20px;
}
.fl-add-to-cart-btn-img{
    margin-bottom: 15px;
}

.fl-add-to-cart-btn-img a{
    display: inline-block;
    vertical-align: baseline;
}
.fl-pkg-grd-ftr ul li{
    position: relative;
    padding: 3px 0 15px 40px;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    font-family: 'Barlow-Medium';
}
.fl-pkg-grd-ftr ul li em{
    position: absolute;
    left: 0;
    top: 0;
}
.fl-copyright{
    padding-bottom: 30px;
}
.fl-copyright p{
    font-size: 14px;
}
.fl-ftr-nav ul li{
    padding: 0 10px;
    position: relative;
}
.fl-ftr-nav ul li:not(:last-child):after{
    content: "";
    width: 1px;
    height: 14px;
    position: absolute;
    left: 100%;
    margin-left: -1px;
    background: #fff;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.fl-ftr-des{
    color: #8c969e;
    padding: 0 10px;
}

span.fl-txt-line-bg {
    font-family: 'LatoBold';
    display: inline-block;
    vertical-align: baseline;
    background-repeat: no-repeat!important;
    background-position: center center!important;
    background-size: 100% 100%!important;
    margin-right: -15px;
    margin-left: -15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    color: #000;
}
.fl-dft-angle-sec-3 .fl-dft-angle-block {
    border: 4px solid #000 !important;
}
.fl-confusion-dsc-tp {
    position: relative;
    padding-right: 20px;
}
.fl-confusion-dsc-btm {
    padding-right: 10px;
}
.fl-confusion-dsc-bg {
    position: absolute;
    left: -15px;
    right: 0;
    top: 55px;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center center !important;
}
.fl-coffee-invest-sec-wrp .fl-steps-wrong-dsc-tp {
    padding-right: 30px;
}
.fl-steps-wrong-dsc-btm-lft{
    padding-right: 20px;
}

.fl-dft-angle-sec.fl-dft-angle-sec-3 .fl-dft-angle-des {
    max-width: 860px;
}
.fl-dft-angle-sec.fl-dft-angle-sec-3 .fl-dft-angle-des-pera {
    padding-right: 261px;
}
.fl-credit-cart-dsc-btm p:nth-child(3){
    margin-bottom: 0;
}
.fl-credit-cart-dsc-btm p:nth-child(4){
    margin-bottom: 0;
}


.fl-credit-fixed-head h2 span{
    display: block;
}


@media(max-width: 1399px){
    .fl-result-came-img-btm {
        margin-left: 0;
    }
    .fl-confusion-img-1 {
        margin-right: 0;
    }
    .fl-confusion-img-2 {
        margin-left: 0;
    }
    .fl-dft-angle-sec-3 .fl-dft-angle-block.left-15,
    .fl-dft-angle-sec-3 .fl-dft-angle-block.right-15{
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .fl-dft-angle-sec.fl-dft-angle-sec-3 .fl-dft-angle-img{
        right: 0 !important;
    }
    .fl-confusion-img-2 {
        margin-left: -40px;
    }
    .fl-confusion-img-1{
        margin-right: -40px;
    }
}

@media(max-width: 1379px){
  .fl-dft-angle-sec.fl-dft-angle-sec-2 .fl-dft-angle-block {
      border: 4px solid #135d9d;
      overflow: hidden;
  }
}



@media(max-width: 1199px){
    .hide-md{
      display: none!important;
    }
    .show-md{
      display: block!important;
    }
    h1 {
      font-size: 50px;
    }
    h2 {
      font-size: 40px;
    }
    h3 {
      font-size: 34px;
    }
    h4 {
      font-size: 26px;
    }
    p br{
      display: none;
    }
    .left-15{
      margin-left: 0 !important;
     }
    .right-15{
        margin-right: 0 !important;
    }

    .special-offer-dsc h1 {
      line-height: 55px;
    }
    .special-offer-dsc {
        position: relative;
        z-index: 3;
        padding: 80px 250px 100px 0;
    }
    .fl-credit-fixed-des {
        padding: 0 0 20px 30px;
    }
    .fl-credit-score-two-part {
        padding-left: 0;
    }
    .fl-automator-list-innr li span br{
        display: none;
    } 
    .fl-credit-fixed-img {
        width: 100%;
        margin-bottom: 25px;
    }
    .fl-credit-fixed-des {
        width: 100%;
        padding: 0 0 30px;
    }
 
    .fl-confusion-img-2 {
        padding-bottom: 25px;
        margin-left: 0;
    }
    .fl-result-came-img-tp {
        margin-top: 0;
        padding-top: 30px;
        text-align: center;
    }
    .fl-result-came-dsc-tp {
        padding-right: 0;
    }
    .fl-result-came-img-btm{
        text-align: center;
    }
    .fl-steps-wrong-img-tp {
        margin-top: 0;
        text-align: center;
        padding-bottom: 30px;
    }
    .fl-steps-wrong-img-btm{
        text-align: center;
    }
    .fl-steps-wrong-img-btm {
        text-align: center;
        padding-bottom: 20px;
    }
    .fl-steps-wrong-img {
        text-align: center;
        padding-bottom: 30px;
    }
    .fl-success-rate-img{
        text-align: center;
        padding-bottom: 30px;
    }
    .fl-success-rate-dsc {
        padding-right: 0;
    }
    .fl-success-rate-sec-wrp {
        padding-top: 60px;
        padding-bottom: 30px;
    }
    .fl-confusion-img-1 {
        margin-right: 0;
        padding-bottom: 30px;
        text-align: right;
    }
    .fl-confusion-head h2 br{
        display: none;
    }
    .fl-steps-wrong-dsc-btm {
        padding-right: 0;
    }
    .fl-steps-wrong-dsc-tp {
        padding-right: 0;
    }
    .fl-result-came-dsc-btm {
        padding-right: 0;
    }
    .fl-confusion-dsc-bg {
        left: 0;
        right: 0;
        top: 55px;
        max-width: 400px;
        width: 100%;
    }
    .fl-paid-dsc {
        padding-right: 0;
    }
    .fl-paid-sec-wrp {
        padding-bottom: 40px;
    }
    .fl-credit-cart-img-1{
        text-align: center;
        padding-top: 20px;
        padding-bottom: 30px;
    }
    .fl-credit-cart-dsc-btm p br{
        display: none;
    }
    .fl-credit-cart-dsc {
        padding-right: 0;
    }
    .fl-add-to-cart-bg {
        padding: 20px 0 30px;
        margin-left: 0;
        margin-right: 0;
    }
    .fl-add-to-cart-img{
        text-align: center;
    }
    .fl-add-to-cart-img-1{
        text-align: center;
        padding-bottom: 30px;
        padding-right: 10px;
    }
    .fl-add-to-cart-dsc-tp {
        padding-left: 0;
        margin-right: 0;
        padding-bottom: 30px;
        padding-right: 0;
    }
    .fl-steps-wrong-img-middle{
        text-align: center;
    }
    .fl-steps-wrong-img-middle {
        text-align: center;
        padding-top: 20px;
        padding-bottom: 30px;
        margin: 0;
    }
    .fl-result-came-sec-wrp {
        padding-top: 60px;
    }
    .fl-add-to-cart-dsc-btm {
        padding-right: 0;
        padding-left: 0;
    }
    .fl-add-to-cart-bg {
        padding: 20px 15px 30px 15px;
    }
    .fl-add-to-cart-img{
        margin-left: 0;
    }
    .fl-footer-wrap p br{
        display: none;
    }
    .fl-steps-wrong-btm-sec-wrp .fl-steps-wrong-dsc-tp {
        padding-right: 0;
    }
    .fl-confusion-dsc-btm {
        padding-right: 0;
    }
    .fl-add-to-cart-dsc-btm{
        padding-right: 0;
    }
    .fl-coffee-invest-sec-wrp .fl-steps-wrong-dsc-tp {
        padding-right: 0;
    }
    .fl-steps-wrong-dsc-btm-lft{
        padding-right: 0;
    }
    .fl-coffee-invest-sec-wrp .pull-right,
    .fl-add-to-cart-sec-wrp .pull-right,
    .fl-credit-cart-sec-wrp .pull-right,
    .fl-confusion-sec-wrp .pull-right,
    .fl-success-rate-sec-wrp .pull-right,
    .fl-steps-wrong-btm-sec-wrp .pull-right,
    .fl-steps-wrong-sec-wrp .pull-right,
    .fl-result-came-sec-wrp .pull-right{
        float: none !important;
    }
    .fl-result-came-head h2 br{
        display: none;
    }
    .fl-steps-wrong-img-btm {
        margin-top: 20px;
    }

    .fl-credit-cart-dsc-btm{
        margin-right: 0;
    }
    .fl-result-came-img-btm{
        padding-bottom: 30px;
    }

}


@media(max-width: 1023px){
  .fl-reading-sec {
      padding: 25px 0 20px;
  }
  .fl-reading-two-part-wrp .fl-reading-img {
      width: 100%;
      margin-bottom: 20px;
  }
  .fl-reading-two-part-wrp .fl-reading-des {
      width: 100%;
      float: left;
      padding:0 0 30px!important;
  }
  .fl-personal-benefit-two-part li:nth-child(2n+1) .fl-personal-benefit-img,
  .fl-personal-benefit-two-part .fl-personal-benefit-img {
      width: 100%;
      float: left;
      margin-bottom: 25px;
  }
  .fl-personal-benefit-two-part li:nth-child(2n+1) .fl-personal-benefit-des,
  .fl-personal-benefit-two-part .fl-personal-benefit-des {
      width: 100%;
      float: left;
      padding:0;
      padding-bottom: 40px;
  }
  .fl-personal-benefit-two-part .fl-personal-benefit-des:last-child {
      padding-bottom: 0;
  }
  .fl-personal-benefit-two-part {
      padding-left:25px;
      padding-right:25px;
  }
  .fl-personal-benefit-innr {
      padding-bottom: 50px;
  }
  .fl-credit-score-img {
      width: 100%;
      padding-top: 0;
      margin-bottom: 25px;
  }
  .fl-credit-score-des {
      width: 100%;
      padding: 0;
  }
  .fl-automator-you-two-part li:nth-child(2n+2) .fl-automator-you-img,
  .fl-automator-you-img {
      width:100%;
      margin-bottom: 25px;
  }
  .fl-automator-you-two-part li:nth-child(2n+2) .fl-automator-you-des,
  .fl-automator-you-des {
      width:100%;
      padding: 0;
  }
  .fl-automator-you-two-part li:not(:last-child){
    margin-bottom: 40px!important;
  }
  .fl-smart-money-img {
      width: 100%;
      margin-bottom: 25px;
  }
  .fl-smart-money-des {
      width: 100%;
      padding:0 40px 30px;
  }
  .fl-automator-you-innr,
  .fl-reading-two-part-wrp {
      padding-left: 0;
      padding-right: 0;
  }

}


@media(max-width: 991px){
    .hide-sm{
        display: none!important;
    }
    .show-sm{
        display: block!important;
    }
    h1 {
      font-size: 40px;
    }
    h2 {
      font-size: 35px;
    }
    h3 {
      font-size: 30px;
    }
    h4 {
      font-size: 26px;
    }
    p br{
        display: none;
    }
    .h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6 {
      line-height: 1.1;
    } 

  .fl-shipping h4 {
        font-size: 18px
    }
  .special-offer-dsc h1 {
    line-height: 45px;
  }
  .special-offer-dsc {
      padding: 70px 150px 70px 0;
  }
  .fl-dft-angle-img { 
    background-image:none!important;
      position: static;
      text-align: center;
      margin-bottom: 20px;
  }
  .fl-dft-angle-img img {
      display: inline-block;
      width: 100%;
  }
  .fl-dft-angle-block {
      background: #135d9d;
  }
  .fl-dft-angle-des {
      background-image: none!important;
      max-width: 100%;
      padding:20px 20px 50px;
  }
  .fl-dft-angle-sec-innr {
      padding-left: 0;
      padding-right: 0;
  }
  .fl-dft-angle-des-hdr {
      position: relative;
      padding-bottom: 35px;
      text-align: center;
  }
  .fl-dft-angle-sec.fl-dft-angle-sec-2 .fl-dft-angle-block {
      border: 0;
      background: #fff;
  }
  .fl-dft-angle-sec.fl-dft-angle-sec-2 .fl-dft-angle-des {
      max-width: 100%;
      padding:20px 20px 50px;
  }
  .fl-dft-angle-sec.fl-dft-angle-sec-2 .fl-dft-angle-des-pera {
      padding-right: 0;
  }
  .fl-dft-angle-des p br {
      display: none!important;
  }
  .fl-smart-money-head h2 br{
      display: none;
  }
  .smart-money-last-line {
      margin-left: 40px;
  }
  .fl-dft-angle-sec.fl-dft-angle-sec-3 .fl-dft-angle-des-pera {
      padding-right: 0;
  }
}

@media (max-width:830px){
    .fl-shipping h4 {
        font-size: 16px
    }
}

@media(max-width: 767px){
    .hide-xs{
        display: none!important;
    }
    .show-xs{
        display: block!important;
    }
    body {
        font-size: 20px;
    }
    p{
       margin-bottom: 20px;
    }
    h1 {
      font-size: 35px;
    }
    h2 {
      font-size: 32px;
    }
    h3 {
      font-size: 28px;
    }
    h4 {
      font-size: 24px;
    }
    .special-offer-dsc h1 {
      line-height: 40px;
    }
    .special-offer-dsc {
        padding: 70px 0 70px;
        text-align: center;
    }
    .fl-automator-list-innr li {
        padding-left: 43px;
    }
    .fl-automator-list-innr ul {
        padding-bottom: 27px;
    }
    .fl-smart-money-des {
        padding: 0 40px 10px;
    }
    .smart-money-oftion {
        padding: 30px 20px 40px;
    }
    .fl-credit-score-sec {
        padding: 45px 0 20px;
    }
    .fl-confusion-bdr {
        padding: 35px 20px 10px;
    }
    .fl-footer-wrap {
        padding: 50px 0 60px;
        font-size: 15px;
        line-height: 22px;
    }
    .fl-credit-fixed-head h2 br{
        display: none;
    }
}

@media(max-width: 639px){
    .fl-shipping .two_sec img {
        width: 65px;
        height: 65px
    }
    .fl-shipping img {
        width: 50px;
        height: 50px
    }
    .smart-money-oftion li {
      font-size: 22px;
  }
  .fl-automator-list-innr {
      padding-left: 0;
      padding-right: 0;
  }
}


@media(max-width: 575px){
  .hdr-logo, .secure-img {
      display: inline-block;
      vertical-align: baseline;
      max-width: 120px;
  }    
  .special-offer-dsc h1 br,
  .special-offer-dsc h3 br{
      display: none;
  }
  .fl-dft-angle-des-hdr h2 br{
      display: none;
  }
  .smart-money-oftion li {
      font-size: 18px;
      margin-bottom: 40px;
  }
  .smart-money-oftion li strong {
      padding: 12px 10px 12px 60px;
  }
  .smart-money-oftion li span {
      font-size: 22px;
      line-height: 55px;
      width: 70px;
      height: 70px;
      border: 8px solid #135d9d;
  }
  .smart-money-oftion ul:after {
      width: 20px;
      left: 25px;
  }
  .fl-smart-money-des {
      padding: 0 20px 10px;
  }
  .smart-money-last-line {
      margin-left: 20px;
  }
  .fl-automator-list-innr li img {
      max-width: 30px;
  }
  .fl-dft-angle-sec.fl-dft-angle-sec-2{
    padding-top: 40px;
  }
  .fl-automator-list-head{
    padding-bottom: 60px;
  }
  .fl-creditcard-btn a {
      font-size: 30px;
      line-height: 34px;
      padding: 15px 25px;
  }
  .fl-dft-angle-sec-3 .fl-dft-angle-des-hdr h2 br{
      display: block;
  }
  .fl-success-rate-sec-wrp {
      padding-top: 50px;
  }
  .fl-coffee-invest-sec-wrp .fl-credit-fixed-head h2{
    margin-bottom: 15px;
  }
}

@media(max-width: 479px){
    .fl-shipping-progress-bar {
        margin-top: -10px
    }    
    .fl-shipping {
        padding-bottom: 12px
    }    
    .fl-shipping h4 {
        font-size: 14px
    }    
    .fl-shipping:before {
        height: 12px
    }    
    .fl-shipping-col {
        width: 30%;
        float: left
    }    
    .fl-shipping-col.two_sec {
        width: 40%;
        float: left
    }    
    .fl-shipping-col.two_sec span {
        display: block
    }
    .fl-dft-angle-des-hdr h2 br{
        display: none;
    }
    .fl-shipping > i {
        top: 60px;
    }
    .fl-creditcard-btn a {
        font-size: 28px;
        line-height: 30px;
        padding: 15px 18px;
    }
    .fl-ftr-nav ul li {
        font-size: 16px;
        line-height: 20px;
        padding: 0 8px;
    }
}

@media(max-width: 359px){
    .hdr-logo, .secure-img {
        display: inline-block;
        vertical-align: baseline;
        max-width: 100px;
    }
}
